<span class="error">
	{% if errors.autre %}
		{{ errors.autre }}
	{% endif %}
</span>
<br>
<div class="container col-10">
	<form class="row g-3" method="post" action="creer">
		<div class="col-md-6">
			<label for="titre" class="form-label">Titre</label>
			<input name="titre" type="text" class="form-control" id="titre">
			<span class="error">
				{% if errors.titre %}
					{{ errors.titre }}
				{% endif %}
			</span>
			<span class="error">
				{% if errors.titre %}
					{{ errors.titre }}
				{% endif %}
			</span>
		</div>
		<div class="col-md-6">
			<label for="annee" class="form-label">Année</label>
			<input name="annee" type="text" class="form-control" id="annee">
			<span class="error">
				{% if errors.annee %}
					{{ errors.annee }}
				{% endif %}
			</span>
			<span class="error">
				{% if errors.annee %}
					{{ errors.annee }}
				{% endif %}
			</span>
		</div>
		<div class="col-md-12">
			<label for="affiche" class="form-label">Affiche</label>
			<input name="affiche" type="text" class="form-control" id="affiche">
			<span class="error">
				{% if errors.affiche %}
					{{ errors.affiche }}
				{% endif %}
			</span>
			<span class="error">
				{% if errors.affiche %}
					{{ errors.affiche }}
				{% endif %}
			</span>
		</div>
		<div class="col-md-6">
			<label for="realisateur" class="form-label">Réalisateur</label>
			<input name="realisateur" type="text" class="form-control" id="realisateur">
			<span class="error">
				{% if errors.realisateur %}
					{{ errors.realisateur }}
				{% endif %}
			</span>
			<span class="error">
				{% if errors.realisateur %}
					{{ errors.realisateur }}
				{% endif %}
			</span>
		</div>
		<div class="col-md-6">
			<label for="genre" class="form-label">Genre</label>
			<select class="form-select" aria-label="Default select example">
				<option selected>Sélectionner le genre du film</option>
				<option value="1">Action</option>
				<option value="2">Aventure</option>
				<option value="3">Animation</option>
				<option value="4">Comédie</option>
				<option value="5">Drame</option>
				<option value="6">Horreur</option>
				<option value="7">Science-fiction</option>
				<option value="8">Fantaisie</option>
				<option value="9">Thriller</option>
			</select>
		</div>
		<div class="col-8">
			<span>Rôle(s)</span>
			<span>
				<button id="btnAdd" class="btn btn-secondary ">Ajouter</button>
			</span>
			{# Début rôle #}
			{#  container ou il y a ma ligne pour intégrer des personnages #}
			<div
				class="container col-12" id="container-ajouter">
				{# 1ere ligne #}


				<div
					class="row col-12 mt-4" id="container-a-mettre">
					{# <form method="post" > #}
					<div class="form-group col-4">
						<input name="personnage-1" type="text" class="form-control personnageInput" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Personnage">
						<span class="error">
							{% if errors.personnage %}
								{{ errors.personnage }}
							{% endif %}
						</span>
					</div>
					<div class="form-group col-3">
						<input name="nom-1" type="text" class="form-control nomInput" id="exampleInputPassword1" placeholder="Nom">
						<span class="error">
							{% if errors.nom %}
								{{ errors.nom }}
							{% endif %}
						</span>
					</div>
					<div class="form-group col-3">
						<input name="prenom-1" type="text" class="form-control prenomInput" id="exampleInputPassword1" placeholder="Prenom">
						<span class="error">
							{% if errors.prenom %}
								{{ errors.prenom }}
							{% endif %}
						</span>
					</div>
					{# <button type="button" class="btn btn-secondary col-2  btnDelete">Delete</button> #}
					{# Début rôle #}
					{#  container ou il y a ma ligne pour intégrer des personnages #}


						<div class="col-12 d-flex justify-content-center mt-5"> <button type="submit" name="create" class="btn btn-primary">Creer</button>
					</div>
				</form>
			</div>
			<script>
				var boutonAjouterDiv = document.getElementById("ajouterDiv");
var containerParent = document.getElementById("nouveauContenu");

boutonAjouterDiv.addEventListener("click", function () {
var nouveauDiv = document.createElement("div");
nouveauDiv.className = "container col-12";
nouveauDiv.innerHTML = <div class="container col-12"> < div
class = "row col-12 mt-4" > {
# < form > #
} < div class = "form-group col-4" > <input name="personnage" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Personnage"> < /div>
					                    <div class="form-group col-3">
					                        <input name="nom" type="text" class="form-control" id="exampleInputPassword1" placeholder="Nom">
					                    </div > <div class="form-group col-3"> < input name = "prenom" type = "text" class = "form-control" id = "exampleInputPassword1" placeholder = "Prenom" > </div> < button type = "delete" class = "btn btn-secondary col-1 " > Delete < /button>
					                </div > </div>;

containerParent.appendChild(nouveauDiv);
});
			</script>
