<div class="container mt-5">
	<div class="row">
		<div
			class="col">

			<!-- Carrousel -->
			<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					{% for film in films %}
						<!-- Première diapositive -->
						<div class="carousel-item {% if loop.first %}active{% endif %}">
							<div class="row">
								<div class="col-md-6">
									<h2>{{ film.getTitre }}</h2>
									<p>Réalisé en
										{{ film.getAnnee }}
										par
										{{ film.getRealisateur }}</p>
									<p>avec
										{{ film.getPrenom }}{{ film.getNom }}
										dans le role de
										{{ film.getPersonnage }}</p>
									<p>avec
										{{ film.getActeur }}
										dans le role de "get.role"</p>
									<p>avec
										{{ film.getActeur }}
										dans le role de "get.role"</p>
								</div>
								<div class="col-md-6">
									<img src="{{ film.getAffiche }}" class="rounded" alt="{{ film.getTitre }}">
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<!-- Contrôles du carrousel -->
				<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
</div><!-- Boutons Previous et Next centrés --><div class="row mt-3 justify-content-center">
	<div class="col-auto">
		<button class="btn btn-primary" type="button" onclick="prevSlide()">Previous</button>
	</div>
	<div class="col-auto">
		<button class="btn btn-primary" type="button" onclick="nextSlide()">Next</button>
	</div>
</div>

<!-- Link Bootstrap JS et jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
