<body>
	{% if user%}
		{{"Bienvenue git i"}}
	{% else %}
		{{"Connectez-vous pour créer un film"}}
	{% endif %}

	<div class="container mt-5 ">
		<div class="row d-flex flex-row mb-3 d-flex justify-content-center">
			<div
				class="col-12">

				<!-- Carrousel -->
				<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						{% for film in films %}
							<div class="carousel-item {% if loop.first %}active{% endif %}">
								<div class="row">
									{{ film.titre }}
									{% for role in film.roles %}
										<li>{{ role.personnage }}
											joué par
											{{ role.acteur.nom }}
											{{ role.acteur.prenom }}</li>
									{% endfor %}
									{# <div class="col-md-6"></div> #}
									<div class="col-12">
										<img src="{{film.affiche}}" class="rounded" alt="Image 1">

									</div>
								</div>
							</div>

						{% endfor %}

					</div>
					<!-- Contrôles du carrousel -->
					<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Boutons Previous et Next centrés -->
	{# <div class="row mt-3 justify-content-center">
										<div class="col-auto">
											<button class="btn btn-primary" type="button" onclick="prevSlide()">Previous</button>
										</div>
										<div class="col-auto">
											<button class="btn btn-primary" type="button" onclick="nextSlide()">Next</button>
										</div> #}
</body></div></body>
