<body>
	{% if user%}
		{{"Bienvenue git i"}}
	{% else %}
		{{"Connectez-vous pour créer un film"}}
	{% endif %}

	<div class="container mt-5">
		<div class="row">
			<div
				class="col">

				<!-- Carrousel -->
				<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						{% for film in films %}
							<!-- Première diapositive -->
							<div class="carousel-item {% if loop.first %}active{% endif %}">
								<div class="row">
									<div class="col-md-6">
										<h2>{{ film.getTitre }}</h2>
										<p>Réalisé en
											<strong>{{ film.getAnnee }}</strong>
											par
											<strong>{{ film.getRealisateur }}</strong>
										</p>

										<p>avec
											<strong>{{ film.role.acteur.getPrenom }}</strong>
											<strong>{{ film.role.acteur.getNom }}</strong>
											dans le rôle de
											<strong>{{ film.role.getPersonnage }}</strong>

										</p>

									</div>
									<div class="col-md-6">
										<img src="{{ film.getAffiche }}" class="rounded" alt="{{ film.getTitre }}">
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<!-- Contrôles du carrousel -->
					<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Boutons Previous et Next centrés -->
	<div class="row mt-3 justify-content-center">
		<div class="col-auto">
			<button class="btn btn-primary" type="button" onclick="prevSlide()">Previous</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-primary" type="button" onclick="nextSlide()">Next</button>
		</div>
	</div>

</body>
